<div class="about">
  <div class="aboutpage_background">
    <div class="content">
      <div class="header_line text-center">
        <h1> We love travelling! </h1>
      <br>
      <h1> Share your unique experiences with us here! </h1>
      </div>
    </div>
  </div>

  <div class="people_behind_this">
    <div class="my_name text-center">
      <h1> My name is MC LEE  </h1>
      <hr class="short-underline text-center">
      <h1> "The World is a book, and those who do not travel read only a page" </h1>
    </div>
  </div>


  <br>

  <div class="contact_container">
    <div class="contact_bar">
      <div class="small_column_contact text-center">
        <%= link_to fa_icon("plane 5x spin"),"http://www.airasia.com/my/en/home.page?gclid=CLuS0py1pM4CFdiIaAodiZUCaw/" %>
        <h3> My philosophy has been to create a culture in our home that embraces the world.
         </h3>
      </div>

      <div class="small_column_contact text-center">
        <%= link_to fa_icon("users 5x"),"https://www.couchsurfing.com/" %>
        <h3> I love being on tour, meeting different kinds of people and seeing different cities
        </h3>
      </div>

      <div class="small_column_contact text-center">
        <%= link_to fa_icon("money 5x pulse"),"http://www.maybank2u.com.my/" %>
        <h3> I use the least amount of money to travel around the world, so looking for a cheaper place to stay ?? WAHAHAHA
         </h3>
      </div>

      <div class="small_column_contact text-center">
        <%= link_to fa_icon("paw 5x"),"http://www.adoptapet.com/"  %>
        <h3> You know what??!!! my pet travel the world TOO!!!
        </h3>
      </div>

    </div>
  </div>



</div>
