<div class= "comment_individual text-center">
  <h3><%= comment.body %></h3>
      <%= link_to "Edit ", edit_topic_post_comment_path(topic,post,comment), class: "btn btn-success" %>
      <%= link_to "Delete ", topic_post_comment_path(topic,post,comment), method: :delete, remote: :true, class: "btn btn-warning "  %>
</div>
