<div class="comment">

  <div class="post title text-center">
  <h3><%= @post.title %></h3>
  </div>

  <%= button_to "Edit This Post", edit_topic_post_path(@topic,@post), :method => :get %>
  <%= button_to "Delete This Post", topic_post_path(@topic,@post), :method => :delete %>

  <div class="comment_head text-center">
  <h1>Comments</h1>
  </div>

  <div class= "comment_big_container">
  <% if @comments.any? %>
    <% @comments.each do |comment| %>
        <div class= "comment_individual text-center">
        <h3><%= comment.body %></h3>
        </div>
      <% end %>
  <% else %>
    Nothing to see here.
  <% end %>
  </div>
