.topic {


  .topic_head{
    font-size: 30px;
    color: white;
    font-weight: 300;
    font-family: monospace;
  background-image: asset-url("photos_2.jpg");
  }


  .topic_big_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 20px;
  }

  .topic_individual {
    flex: 0 0 500px;
    position: relative;
    border-style: solid;
    border-color: black;
    margin: 20px;
  }

  .post_topic_head {
    font-size: 50px;
    font-weight: bolder;
    color: blue;

  }

  .post_description {
    font-size: 30px;
    font-weight: bolder;
    color: blue;
  }

  .delete_edit_part {
    font-size: 25px;
    border-style: dotted;
    border-color: black;

  }

  #topic-create-form {
    max-width: 600px;
    margin: 0 auto;
  }

  #topic-update-form {
    max-width: 600px;
    margin: 0 auto;
  }
}
