<div class= "post">

  <div class="post_title text-center">
  <h1><%= @post.title %></h1>
  </div>
  <div class="post_body text-center">
  <p><%= @post.body %></p>
  </div>

<br>

  <div class="form_option">
    <div class="delete_edit_part text-center">
    <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Delete?" } %>
    </div>

    <div class="delete_edit_part text-center">
    <%= link_to "Edit", edit_post_path(@post), data: { confirm: "Sure ah??!!Edit?" } %>
    </div>
  </div>
</div>
